<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hzy.selector">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            android:allowBackup="true"
            android:supportsRtl="true">
        <activity android:name=".MediaActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".PreviewActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait"/>

        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
                android:name=".provider.MediaProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_path"/>
        </provider>
    </application>
</manifest>
